[submodule "args"]
	path = args
	url = https://github.com/Taywee/args
	shallow = true
[submodule "json"]
	path = leafcore/json
	url = https://github.com/nlohmann/json
	shallow = true
[submodule "Log"]
	path = Log
	url = https://github.com/maxkofler/Log
	shallow = true
[submodule "leafcore/inifile-cpp"]
	path = leafcore/inifile-cpp
	url = https://github.com/Rookfighter/inifile-cpp
