[submodule "Log"]
	path = Log
	url = https://github.com/maxkofler/Log
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "args"]
	path = args
	url = https://github.com/Taywee/args
[submodule "leafcore/curl"]
	path = leafcore/curl
	url = https://github.com/curl/curl
[submodule "leafcore/libarchive"]
	path = leafcore/libarchive
	url = https://github.com/libarchive/libarchive
