*.out
*build*/
Testing/

#Needed for static build
leafcore/curl/
leafcore/libarchive

CMakeLists.txt.user
packages.list
.vscode/configurationCache.log
.vscode/targets.log
.vscode/dryrun.log

.DS_STORE

